# Joplin Server app.env.sample
# Copy to app.env and customize

# Timezone
TZ=America/New_York

# Hostname (used in APP_BASE_URL)
BASE_HOST_NAME=myhostname

# Database credentials
DB_USER_NAME=joplin
DB_USER_PASS=changeme_db_password
DB_CREATE_DATABASE_NAME=joplin
